---
layout: default
---

<div class="home">
  {{ content }}

  <h2 class="section-title">최근 글</h2>
  <ul class="post-list">
    {% for post in site.posts limit:15 %}
      <li class="post-item">
        <span class="post-meta">{{ post.date | date: "%Y.%m.%d" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {% if post.categories.first %}
          <span class="post-cat">{{ post.categories.first }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
